@import "variables";
@import "mixins";
.footer {
  background-color: $secondary-color-light-gray;
  padding: 8rem 3rem;
  background-image: url("/images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: top;
  @include for-desktop() {
    padding: 20rem $desktop-container;
  }
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    @include for-desktop() {
      flex-direction: row;
      margin-bottom: 8rem;
      gap: 0;
      justify-content: space-between;
    }
    &__icons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid #d9d9d9;
      width: 100%;
      margin-bottom: 3rem;
      cursor: pointer;
      @include for-desktop() {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        width: initial;
      }
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    gap: 3rem;
    @include for-desktop() {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      align-items: flex-start;
      width: 85%;
    }
    h4 {
      font-family: $font-family-Karla;
      margin-bottom: 3rem;
      font-size: 1.6rem;
      color: $secondary-color-gray-violet;
      font-weight: $font-weight-700;
      letter-spacing: 2px;
    }
    a {
      font-family: $font-family-Karla;
      font-weight: $font-weight-700;
      color: $primary-clr-violet;
      display: inline-block;
      text-decoration: none;
      margin-bottom: 1.5rem;
      font-size: 1.4rem;
      position: relative;
      transition: all 0.3s ease-in-out;
      padding-bottom: 1rem;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        border-bottom: 3px solid transparent;
        transition: all 0.3s ease-in-out;
      }
      &:hover::before {
        width: 100%;
        border-color: $primary-clr-violet;
      }
    }
  }
}
