@import "variables";
@import "mixins";
.main {
  padding: 8rem 3rem;
  @include for-desktop() {
    padding: 20rem $desktop-container;
  }
  //   FIRST ARTICLE
  .article {
    text-align: center;
    font-family: $font-family-Dm;
    @include for-desktop() {
      text-align: left;
    }
    &__heading {
      position: relative;
      color: #000;
      font-size: clamp(4rem, 10vw, 5rem);
      // font-weight: $font-weight-700;
      letter-spacing: 2px;
      margin-bottom: 6rem;
      &::before {
        content: " ";
        position: absolute;
        left: 50%;
        right: 50%;
        top: -30%;
        width: 40%;
        transform: translate(-50%, -50%);
        border-top: 1px solid #000;
        @include for-desktop() {
          display: none;
        }
      }
    }
    &__cards {
      @include for-desktop() {
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin-bottom: $desktop-container;
      }
      &-card {
        // width: 80%;
        margin: 0 auto;
        max-width: 40rem;
        img {
          margin-bottom: 2.5rem;
        }
        h3 {
          font-size: clamp(2rem, 8vw, 4rem);
          margin-bottom: 1.5rem;
          @include for-desktop() {
            font-size: 2.5rem;
          }
        }
        p {
          font-family: $font-family-Karla;
          color: #747476;
          font-size: clamp(1.3rem, 4.3vw, 1.8rem);
          // padding: 0 3rem;
          line-height: 1.5;
          margin-bottom: 5rem;
          @include for-desktop() {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
  //   Second Article
  .article-2 {
    background-color: $primary-clr-violet;
    padding: 8rem 3rem;
    text-align: center;
    background-image: url("/images/bg-pattern-how-we-work-mobile.svg");
    background-repeat: no-repeat;
    background-size: 220%;
    background-position: top;
    @include for-desktop() {
      padding: 6.5rem 8rem;
      text-align: left;
    }
    &__flex {
      @include for-desktop() {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    h2 {
      font-family: $font-family-Dm;
      font-size: 4rem;
      color: #fff;
      margin-bottom: 3rem;
      line-height: 1.1;
      @include for-desktop() {
        width: 50%;
        font-size: clamp(4rem, 20vw, 6rem);
      }
    }
    &__btn {
      padding: 1.25rem 2rem;
    }
  }
}
