// COLORS
$primary-clr-violet: hsl(256, 26%, 20%);
$primary-clr-blue: hsl(216, 30%, 68%);
$secondary-color-dark-violet: hsl(270, 9%, 17%);
$secondary-color-gray-violet: hsl(273, 4%, 51%);
$secondary-color-light-gray: hsl(0, 0%, 98%);
// TYPOGRAPHY
$font-family-Dm: "DM Serif Display", serif;
$font-family-Karla: "Karla", sans-serif;
$font-weight-400: 400;
$font-weight-700: 700;
$default-font-size: 1.6rem;

// Utility

$desktop-container: 15rem;
